
<div class="row">
    <div class="col-md-3  text-center">
        <img class="col-md-12" src="{{artwork?.Pictures[0].Path}}" style="height:200px;" />
        <div class="col-md-12">
            <h4>Название картины: {{artwork?.Name}} </h4>
            <hr />
            <h5>Описание: {{artwork?.Description}}</h5>
            <hr />
            <a class="col-md-12" routerLink="/artworks" routerLinkActive="active">Посмотреть все</a>

            <a class="col-md-12" routerLink="/artworks" routerLinkActive="active">Все картины артиста</a>

            <a class="col-md-12" routerLink="/artworks" routerLinkActive="active">Посмотреть спектры</a>

            <a class="col-md-12" routerLink="/artworks" routerLinkActive="active">Посмотреть используемые технологии</a>

            <a class="col-md-12" routerLink="/artworks" routerLinkActive="active">Другая информация</a>
        </div>
    </div>
    <div class="col-md-9 vertical-line-left">
        <div id="myCarousel"  class="carousel slide " data-ride="carousel" style="height:400px;">
            <!-- Wrapper for slides -->
            <div class="carousel-inner row" *ngFor="let image of  artwork?.Pictures" >
                <div class="item active col-md-12  text-center">
                    <img class="col-md-8 col-md-offset-2" style="height:100%"  src="{{image.Path}}" alt="Los Angeles">
                </div>
            </div>

            <!-- Left and right controls -->
            <a *ngIf="artwork?.Pictures>1" class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a *ngIf="artwork?.Pictures>1" class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>


        </div>
    </div>
</div>


