body {
    font-family: cursive !important;
}

.vertical-line-left {
    border-left: thick solid #424242;
}

.vertical-line-right {
    border-right: thick solid #424242;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}

body {
    margin-bottom: 200px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 200px;
    /* Set the fixed height of the footer here */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.bg-black {
    background-color: #000000 !important;
}

.text-black {
    color: #000000 !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}
