body {
    font-family: cursive !important;
}

.vertical-line-left {
    border-left: thick solid #424242;
}

.vertical-line-right {
    border-right: thick solid #424242;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bg-black {
    background-color: #000000 !important;
}

.bg-orange {
}

.text-black {
    color: #ffffff  !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}
