<div class="panel panel-default">
    <h3 class="text-center">Список картин</h3>

    <div class="d-flex justify-content-end">

        <div class="mr-auto p-2">
            <a [routerLink]="['/artworks/create']" class="btn btn-primary">Добавить картину</a>
        </div>

        <div class="p-2">
            <label class="col-lg-12 ml-5">Total:{{filteredItems.length}} Found products </label>
        </div>
        <select id="pageSelector" class="form-control col-1" [(ngModel)]="pageSize"
                (ngModelChange)="onChangePageSize($event)">
            <option [ngValue]=6>6</option>
            <option [ngValue]=12>12</option>
            <option [ngValue]=24>24</option>
            <option [ngValue]=48>48</option>
        </select>
        <label for="pageSelector" class="col-1 mt-2">items on page</label>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-2" *ngFor="let artwork of  artworks" style="height:250px;">
                <a class="text-center" [routerLink]="['/artworks/detail', artwork.Id]">
                    <img class="col" src="{{artwork.Pictures[0].Path}}" style="height:200px" />
                    <p class="text-black">Название картины: {{artwork.Name}}</p>
                </a>
            </div>
        </div>
    </div>

    <div class="justify-content-center">
        <p class="text-center">Page {{currentIndex}}/{{pages}}</p>

        <div class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{'disabled': (currentIndex == 1 || pages == 0)}">
                    <a class="page-link" (click)="prevPage()">Prev</a>
                </li>
                <li class="page-item" *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': (currentIndex == pages || pages == 0)}">
                    <a class="page-link" (click)="nextPage()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
