<head>

</head>
<body>
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
        $(document).ready(function () {
            $('.slider').slider();
        });
        $(document).ready(function () {
            var list = document.getElementById('lib-block').getElementsByTagName('div');
            for (var index = 0; index < list.length; index++) {
                list[index].getElementsByTagName('p')[0].setAttribute("style", "height: 400px;");
            }
        });
    </script>

    <div class="parallax-container">
        <div class="parallax">
            <img style="width: inherit; height: inherit" src="~/Images/Main.jpg" />
        </div>
    </div>

    <div>
        <h4 class="center">ХУДОЖНИКИ</h4>
        <div class="slider">
            <ul class="slides">
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/2" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/4" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/4" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/2" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/1" class="circle">
                            <p class="center">center</p>
                            <p class="center">kok</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="orange">
        <div class="row">
            <div class="col s6 vertical-line-right">
                <h4 class="white-text">Контакты</h4>
                <div class="row">
                    <div class="col s1">
                        <i class="material-icons white-text">mail</i>
                    </div>
                    <div class="col s5 white-text">some_email@gmail.com</div>
                </div>
                <div class="row">
                    <div class="col s1">
                        <i class="material-icons white-text">phone</i>
                    </div>
                    <div class="col s5 white-text">+12312312</div>
                </div>
                <div class="row">
                    <div class="col s1">
                        <i class="material-icons white-text">place</i>
                    </div>
                    <div class="col s5 white-text">some place</div>
                </div>
            </div>
            <div class="col s6">
                <h4 class="white-text">Мы в социальных сетях</h4>
            </div>
        </div>
    </div>
    <div class="row" id="lib-block">
        <h4 class="center">БИБЛИОТЕКИ</h4>

        <div class="col s3 vertical-line-right">


            <h4 class="center">text</h4>
            <p>
                text text text text text text text text text text text text text text text text text text text text

            </p>
            <i class="material-icons center">arrow forward</i>


        </div>
        <div class="col s3 vertical-line-right">
            <h4 class="center">text</h4>
            <p>
                text text text text text text text text text text text text text text text text text text text text

            </p>
            <i class="material-icons center">arrow forward</i>

        </div>
        <div class="col s3 vertical-line-right">
            <h4 class="center">text</h4>
            <p>
                text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
            </p>
            <i class="material-icons center">arrow forward</i>

        </div>
        <div class="col s3">
            <h4 class="center">text</h4>
            <p>
                text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text text text text text text text text text
            </p>
            <i class="material-icons center">arrow forward</i>

        </div>
    </div>
    <div class="row grey">
        <div class="col s8 offset-s2 ">
            <h4 class="center white-text">О ПРОЕКТЕ</h4>
            <p class="white-text">
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
                text text text
            </p>
        </div>
    </div>
    <div>
        <h4>ГАЛЕРЕЯ</h4>
        <div class="slider">
            <ul class="slides">
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/3" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/4" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/4" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/4" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                        <div class="col s3">
                            <img src="http://lorempixel.com/580/250/nature/4" />
                            <p>center</p>
                            <p>kok</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
